<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Too Good co</title>
    <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/1499265096006000640/ZhEnSTch_400x400.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/blog.css">
</head>
<body>
  <%- include('../customElements/navigation') %>
    <div id="page2" class="cards">
    <header>
        <h1>Cool Articles</h1>
      </header>
      <div class="band">
        <div class="item-1">
          <a href="https://www.inthefrow.com/2023/12/winter-warmer-gifts-for-loved-ones.html" class="card">
            <div class="thumb" style="background-image: url(https://codesupply.co/_next/image/?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fix6yojsv%2Fproduction%2Ff4a2f607c654974a54e420c3a1a4c1d19f44d0ea-1800x1125.webp&w=1200&q=95);"></div>
            <article>
              <h1>International Artist Feature: UK</h1>
              <span>Inthefrow</span>
            </article>
          </a>
        </div>
        <div class="item-2">
          <a href="https://fashionsteelenyc.com/2023/11/top-5-luxury-sales-to-shop-right-now-and-what-to-buy-from-each/" class="card">
            <div class="thumb" style="background-image: url(https://s3-https://fashionsteelenyc.com/wp-content/uploads/2023/11/4T8A4444-1.jpg-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
            <article>
              <h1>TOP 5 LUXURY SALES TO SHOP RIGHT NOW</h1>
              <span>Monroe Steele </span>
            </article>
          </a>
        </div>
        <div class="item-3">
          <a href="http://thefashionguitar.com/" class="card">
            <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);"></div>
            <article>
              <h1>Created by You, July Edition</h1>
              <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
              <span>thefashionguitar</span>
            </article>
          </a>
        </div>
        <div class="item-4">
          <a href="https://girlwithcurves.com/" class="card">
            <div class="thumb" style="background-image: url(https://codesupply.co/_next/image/?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fix6yojsv%2Fproduction%2Ff55a71ccf51600309b3720bc3b6f3cb76a5d88bd-1800x1125.webp&w=1200&q=95);"></div>
            <article>
              <h1>Girl With Curves, a favorite among womens fashion bloggers,</h1>
              <p>believes that the beauty of women can’t be decided by body weight, shape, or size</p>
              <span>girlwithcurves</span>
            </article>
          </a>
        </div>
        <div class="item-5">
          <a href="https://www.hellofashionblog.com/" class="card">
            <div class="thumb" style="background-image: url(https://codesupply.co/_next/image/?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fix6yojsv%2Fproduction%2Fce10bc87ec41901339e1893b2733737b6b0481ef-2560x1600.webp&w=1200&q=95);"></div>
            <article>
              <h1>Christine Andrew from Salt Lake City </h1>
              <span>hellofashionblog</span>
            </article>
          </a>
        </div>
        <div class="item-6">
          <a href="https://myfashdiary.com/" class="card">
            <div class="thumb" style="background-image: url(https://codesupply.co/_next/image/?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fix6yojsv%2Fproduction%2Feb9a70d8db6ff229fcf3ef80dbf6179f103fb99b-2560x1600.webp&w=1200&q=95);"></div>
            <article>
              <h1>My Fash Diary, a standout fashion blog, is an online journal by Tala Samman</h1>
      
              <span>myfashdiary</span>
            </article>
          </a>
        </div>
        <div class="item-7">
          <a href="Monikh Dale is a fashion design graduate, blogger, and freelance stylist." class="card">
            <div class="thumb" style="background-image: url(https://codesupply.co/_next/image/?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fix6yojsv%2Fproduction%2F1b9d09325b6c5459a3abe0f6fa3e0c48c19e2b02-2560x1600.webp&w=1200&q=95);"></div>
            <article>
              <h1>Monikh Dale is a fashion design graduate, blogger, and freelance stylist.</h1>
              <span>Monikh</span>
            </article>
          </a>
        </div>
      </div>
</div>
<%- include('../customElements/footer') %>
</body>
</html>
